<header class="main-header">
    <div class="header-wrapper">
        <div class="logo-container">
            <img src="/1_20-Logo-completo-300x300.png" alt="Universidad ICI Logo">
        </div>
        <nav id="topnav" class="top-navigation">
            <div class="nav-item n selected">
                <a href="xweinscri.jsp?app=1.1.8">Control Escolar</a>
            </div>
            <div class="nav-item n">
                <a href="xwfpaad.jsp?app=1.2.1">Cajas</a>
            </div>
            <div class="nav-item n">
                <a href="xwexmenu.jsp?app=1.3.1">Formación<br>Integral</a>
            </div>
            <div class="nav-item n">
                <a href="xwevmenu.jsp?app=1.4.1">Instrumentos<br>de Evaluación</a>
            </div>
            <div class="nav-item n">
                <a href="xwgkses.jsp">Salir</a>
            </div>
        </nav>
    </div>
</header>