<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td id="subnav">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><a href="/pages/situacion-actual.html">Situación Actual</a></td>
                    <td><a href="/pages/materias-y-faltas.html">Materias y Faltas</a></td>
                    <td align="center"><a href="/pages/horario.html">Horario</a></td>
                    <td><a href="/pages/programas.html">Programas</a></td>
                    <td><a href="/pages/calificaciones-parciales.html">Calificaciones Parciales</a></td>
                    <td><a href="/pages/extracurriculares.html">Extracurriculares</a></td>
                </tr>
                <tr>
                    <td><a href="/pages/kardex-y-seriacion.html">Kardex y Seriación</a></td>
                    <td align="center"><a href="/pages/solicitud-de-ext-y-o-ts.html">Solicitud de Ext. y/o T.S.</a></td>
                    <td><a href="/pages/expediente-servicio-social.html">Expediente Servicio Social</a></td>
                    <td><a href="/pages/proyectos-de-servicio-social.html">Proyectos de Servicio Social</a></td>
                    <td><a href="/pages/evaluacion-a-profesores.html">Evaluación a Profesores</a></td>
                    <td align="center"><a href="/pages/hor-y-res-de-ex-ext-y-o-ts.html">Hor. y Res. de Ex. Ext. y/o T.S.</a></td>
                </tr>
                <tr>
                    <td><a href="/pages/exp-de-documentos-imss.html">Exp. De Documentos / IMSS</a></td>
                    <td><a href="/pages/expediente-de-practicas-prof.html">Expediente de Prácticas Prof.</a></td>
                    <td><a href="/pages/proyectos-de-practicas-prof.html">Proyectos de Prácticas Prof.</a></td>
                    <td><a href="/pages/datos-personales.html">Datos Personales</a></td>
                    <td><a href="/pages/cambiar-contrasena.html">Cambiar Contraseña</a></td>
                    <td><a href="/pages/cambiar-clave-de-verificacion.html">Cambiar Clave de Verificación</a></td>
                </tr>
                <tr>
                    <td><a href="/pages/registro-de-carga-academica.html">Registro de Carga Académica</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>