<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td id="subnav">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><a href="xweinscri.jsp?app=1.1.2">Situación Actual</a></td>
                    <td><a href="xwefalt.jsp?app=1.1.2">Materias y Faltas</a></td>
                    <td align="center"><a href="xwehoras.jsp?app=1.1.3">Horario</a></td>
                    <td><a href="xwefalt_.jsp?app=1.1.3">Programas</a></td>
                    <td><a href="xweexpers.jsp?app=1.1.1">Requisitos de Titulación</a></td>
                    <td><a href="xwecalparc.jsp">Calificaciones Parciales</a></td>
                </tr>
                <tr>
                    <td><a href="xwextracu.jsp?app=1.1.4">Extracurriculares</a></td>
                    <td><a href="xweexpec.jsp?app=1.1.1&amp;prom=SI">Kardex y Seriación</a></td>
                    <td align="center"><a href="xwezlissol.jsp?app=1.3.2">Solicitud de Ext. y/o T.S.</a></td>
                    <td><a href="xweotrm.jsp?app=1.1.5">Otros Requisitos de Titulación</a></td>
                    <td><a href="xwesersoc.jsp?app=1.1.4">Expediente Servicio Social</a></td>
                    <td><a href="xweproyss.jsp?app=1.1.4">Proyectos de Servicio Social</a></td>
                </tr>
                <tr>
                    <td><a href="instruc.jsp?app=1.1.15&amp;vps_Esiima=1">Evaluación a Profesores</a></td>
                    <td><a href="noExiste.jsp" target="_blank">Cuadernillo</a></td>
                    <td align="center"><a href="xweextr.jsp?app=1.3.1">Hor. y Res. de Ex. Ext. y/o T.S.</a></td>
                    <td><a href="docingre.jsp?app=1.1.16">Exp. De Documentos / IMSS</a></td>
                    <td><a href="xwepracprof.jsp?app=1.1.24">Expediente de Prácticas Prof.</a></td>
                    <td><a href="xweproypp.jsp?app=1.1.25">Proyectos de Prácticas Prof.</a></td>
                </tr>
                <tr>
                    <td><a href="xwematopta_proto.jsp?app=1.1.22">Materias Optativas</a></td>
                    <td><a href="xwedatgenCambio.jsp?app=1.1.22">Datos Personales</a></td>
                    <td><a href="xwgcambio.jsp?app=1.1.22">Cambiar Contraseña</a></td>
                    <td><a href="xwgcambioverifica.jsp?app=1.1.22">Cambiar Clave de Verificación</a></td>
                    <td><a href="xwgcupon.jsp?app=1.1.28">Generar Cupón (UAAGo)</a></td>
                    <td><a href="xweiwmenupago.jsp">Registro de Carga Académica</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>